
body .bp5-navbar.bp5-dark, .bp5-dark .bp5-navbar {
  background-color: #2F343C;
  /* Might mess up movile  */
  min-width:550px;
}


.custom-title {
    font-weight: bold;
    flex-grow: 0;
    flex-shrink: 0;
}

.pull-left{
    margin-right: 0% !important;
}


.lab-link {
    text-decoration: none; 
    color: #FFFFFF !important;
}

.lab-link:hover,
.lab-link:focus,
.lab-link:active {
    color: #FFFFFF; 
    text-decoration: none; 
    outline: none; 
}

a {
    color: #FFFFFF; 
    text-decoration: inherit; 
  }

.header-banner-class-name {
    position: -webkit-sticky; /* For Safari browser compatibility */
    position: sticky;
    top: 0;
    z-index: 1000; 
}