
body .bp5-navbar.bp5-dark, .bp5-dark .bp5-navbar {
  background-color: #2F343C;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-title {
    /* font-size: 18px; */
    font-weight: bold;
    flex-grow: 0;
    flex-shrink: 0;
}

.pull-left{
    margin-right: 0% !important;
}


.lab-link {
    text-decoration: none; 
    color: #FFFFFF !important;
}

.lab-link:hover,
.lab-link:focus,
.lab-link:active {
    color: #FFFFFF; 
    text-decoration: none; 
    outline: none; 
}

a {
    color: #FFFFFF; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }